<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Activate account</title>
    </head>
    <body>
        
        {# <img src="{{'@images/oskar-kinderland-squarelogo-1569226922011.png'}}" alt="Logo">     #}
        
        <h1> Hallo {{ email.to[0].name }} ! </h1>

        <p>
            {{msg_content}}
        </p>
        <br/>
        <p>
            Danke!
        </p>
        
    </body>
</html>